apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  labels:
    app: python
spec:
  replicas: 2 # Spreads pods across your worker nodes
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
        - name: python
          image: geraldatanga44/python-app:v1 # REPLACE with your actual image
          ports:
            - containerPort: 5000

---
apiVersion: v1
kind: Service
metadata:
  name: python-app-service
spec:
  type: ClusterIP
  selector:
    app: python
  ports:
    - name: http
      port: 80 # The port the Service exposes internally
      targetPort: 5000 # The port the Container is listening on

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: python-app-ingress
spec:
  ingressClassName: nginx
  rules:
    - host: python-app-test.com # <--- The Hostname is defined here
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: python-app-service
                port:
                  number: 80
